* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Poppins";
    min-height: 100vh;
    background: lightblue;
}


header menu {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}


header menu button {
    background: none;
    border: none;
    outline: none;
}


a {
    text-decoration: none;
    color: white;
}


#navbar {
    position: fixed;
    background: lightblue;
    height: 100vh;
    width: 18vw;

    transition: all 1s ease;
    transform: translateX(-100%);
    padding: 1rem 2rem;
    z-index: 1;
}


#navbar ul {
    margin: 2rem 0;
    list-style: none;
}


#navbar ul li {
    margin: 1.5rem 0;
    font-size: 1.2rem;
}


#navbar ul li a {
    color: white;
}


#navbar button {
    border: none;
    background: none;
    outline: none;
}



/* CSS Hecho por Damian */

footer {
    color: #ffffff;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

footer .derechos {
    grid-column: 2 / 3;
    text-align: center;
}

footer .redes {
    display: flex;
    gap: 0.5rem;
    justify-content:center;
    
}

footer ul {
    list-style: none;
}