* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Poppins";
    min-height: 100vh;
    background: lightblue;
}


header menu {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}


header menu button {
    background: none;
    border: none;
    outline: none;
}


a {
    text-decoration: none;
    color: white;
}


#navbar {
    position: fixed;
    background: lightblue;
    height: 100vh;
    width: 18vw;

    transition: all 1s ease;
    transform: translateX(-100%);
    padding: 1rem 2rem;
    z-index: 1;
}


#navbar ul {
    margin: 2rem 0;
    list-style: none;
}


#navbar ul li {
    margin: 1.5rem 0;
    font-size: 1.2rem;
}


#navbar ul li a {
    color: white;
}


#navbar button {
    border: none;
    background: none;
    outline: none;
}



/* CSS Hecho por Damian */

/* Main */

.main-title {
    background-color: lightblue;
    height: 40vh;
    padding: 10vh 0;
}

.main-title h1 {
    color:#ffffff;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.main-title h2 {
    color:#ffffff;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}

.products-section {
    padding: 2rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    background-color: lightblue;
    color: #ffffff;
    height: 40vh;
}

.products-section article {
    border: 2px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: #2c083b;
}

.products-section article:hover {
    background-color: #8f689f;
    cursor: pointer;
}

.products-section article a {
    text-decoration: none;
    color:#ffffff
}

.products-section article .product-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.products-section article .product-description {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: .75rem;
}

/* Titulos */

 /* Servicios */

 .titulos article {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    gap: .5rem;
}

.titulos article img {
    border-radius: 2rem;
    height: 40vh;
    width: 50%;
    margin: 0 auto;
}

/* Footer */

footer {
    color: #ffffff;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    padding-top: .5rem;
}

footer .derechos {
    grid-column: 2 / 3;
    text-align: center;
}

footer .redes {
    display: flex;
    gap: 0.5rem;
    justify-content:center;
}

footer ul {
    list-style: none;
}